@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  width:100%;
 overflow-x: hidden;
 overflow-y: scroll;
}
/* @layer base{
  body{
    @apply dark:bg-darkColor dark:text-white;
  }
} */
.tilt-card {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.tilt-card-content {
  transform: translateZ(50px);
}

.glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}